

@font-face {
	font-family: 'EB Garamond';
	src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}


@font-face {
	font-family: 'Garamond Classico SC Regular';
	src: url('fonts/Garamond Classico SC Regular.ttf') format('truetype');
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    min-width: 0px;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    transition: all 0.2s ease-out;
}

body, html {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    height: 100%;
    width: 100%;
    overflow: hidden;
	font-family: 'Garamond Classico SC Regular';
}

#container * {
    animation: fade-in 1s;
}

#detail {
    animation: fade-in 2s;
}

#c {
    width: 100%;
    height: 100%;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    #c {
        background-color: #292827 !important;
    }
    * {
        color: #d7caab;
    }
    #container {
        border: #d7caab solid 1px;
    }
    #ball {
        background-color: #d7caab;
    }
    
    .animated-gradient {
        background: linear-gradient(45deg, #423d39, #574f36, #7c7462);
    }
    #ball {
        background-color: #292827;
    }
}

@media (prefers-color-scheme: light) {
    #c {
        background-color: #e6dbc1;
    }
    #container {
        border: #292827 solid 1px;
    }
    .animated-gradient {
        background: linear-gradient(45deg, #d7caab, #caad68, #7c7462);
    }
    #ball {
        background-color: #292827;
    }
    #ball {
        background-color: #d7caab !important;
    }
}

#container {
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    width: -moz-available;
    height: -moz-available;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: #292827 solid 1px;
    flex-direction: column;
    margin: calc(100vh / 30);
    padding: calc(100vh / 30);
    overflow: hidden;
}

.flex-cont {
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#d2 {
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#detail {
    display: flex;
    position: relative;
    max-width: 270px;

    font-family: "EB Garamond";
}



.h1 {
    font-size: clamp(3em, 5vw, 80px);
}

.h2 {
    font-size: clamp(2em, 4vw, 60px);
}

.h3 {
    font-size: clamp(1.9em, 3.5vw, 50px);
}

.h4 {
    font-size: clamp(1em, 3vw, 44px);
}

.h5 {
    font-size: clamp(1em, 2.5vw, 33px);
}

.p1 {
    font-size: 2.8em;
}

.p2 {
    font-size: clamp(0.8em, 2.2vh, 26px);
}

.p3 {
    font-size: 1.8em;
}


a {
    border-bottom: #292827 solid 1px;
    text-decoration: none;
    color: inherit;
}


a:hover {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: #292827a8 0px 0px 10px;

}


@keyframes gradient {
    0% {background-position: 0% 100%;}
    50% {background-position: 100% 0%;}
    100% {background-position: 0% 100%;}
}
.animated-gradient {
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}
  

  
#ball {
    opacity: 0;
    top: calc(50% - 2.5vh);
    left: calc(50% - 2.5vh);
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-out;
    filter: blur(10px);
    mix-blend-mode: soft-light;
}